**/nbproject/private/
**/.classpath
**/.settings
**/.project
**/.vscode
/.gradle/
/.nb-gradle/
/.idea/
/dist/
/build/
/bin/
/netbeans/
/.classpath
/.project
/.settings
*.dll
*.so
*.jnilib
*.dylib
*.class
.DS_Store
